* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Inter", sans-serif;
}

html {
  background-color: rgb(228, 243, 245);
}

body {
  display: flex;
  margin: 0px;
  align-items: flex-start;
}

.navbar {
  position: fixed;
  width: 15vw;
  height: 100vh;
  background-color: rgb(188, 229, 231);
  padding: 10px;
  max-width: 200px;
}
.main_content {
  margin-left: 16vw;
  padding: 50px;
  width: max-content;
  height: auto;
  color: black;
}
li {
  padding: 15px 0px 15px 0px;
  font-size: 24px;
}
a {
  color: blue;
}
.navbar_Content li a:hover {
  color: rgb(0, 0, 196);
  text-decoration: underline;
}
a.visted {
  color: purple;
}
p {
  font-size: 18px;
  line-height: 2em;
}
.reference {
  text-align: center;
}
.resources {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  line-height: 2;
  text-indent: -0.5in;
  margin-left: 0.5in;
}

.text_01 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.image_01 {
  max-width: 400px;
}

.image_02 {
  max-height: 300px;
}

.topic_subtitle {
  font-size: 25px;
  font-weight: 550;
}

.topictitle {
  font-size: 35px;
  font-weight: 700;
  background-color: rgb(212, 212, 212);
  color: black;
  padding: 20px;
}

.meeting_minutes_list {
}